body {
    -webkit-text-size-adjust: 100%;
}

circle{
    stroke-width: 2;
}

circle.male{
    stroke: #333577;
    fill : #7F81B2;
}
circle.female{
    stroke: #A8383B;
    fill: #FDA8AB;
}

.line-pref{
    stroke: #328A2E;
}