body {
    -webkit-text-size-adjust: 100%;
}

circle{
    stroke-width: 2;
}
circle.rejected{
    stroke-width: 10;
}

.male{
    stroke: #333577;
    fill : #7F81B2;
}

.female{
    stroke: #A8383B;
    fill: #FDA8AB;
}

.line-pref{
    fill: none;
    stroke-linecap: round;
    opacity: .5;
}

.line-apply{
    fill: none;
    stroke-linecap: round;
    stroke-width: 5;
    stroke-dasharray: 5, 10;
    stroke: #338A2E;
    opacity: .5;
}

.num-pref{
    stroke: white;
    fill: white;
    text-anchor: middle;
}